<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @wiki.name %> 
      </h1>
      <p><%= @wiki.content %></p>
      <% if @wiki.comments.any? %>
        <table class="comments" summary="Wiki comments">
          <%= render @comments %>
        </table>
        <%= will_paginate @comments %>
      <% end %> 
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @wiki.name %><br />
      <strong>URL</strong>  <%= link_to "#{http://en.wikipedia.org/wiki/} #{@wiki.name.underscore}", @wiki %><br />
      <strong>Comments</strong> <%= @wiki.comments.count %>
    </td>
  </tr>
</table>

