<h1 class="wiki"><%= @wiki.name %></h1>
<strong>Comments</strong> <%= @wiki.comments.count %> <br />
<strong>Wikipedia</strong>  <%= link_to "URL", "http://en.wikipedia.org/wiki/#{@wiki.name.gsub!(' ','_')}", :target => '_blank' %><br />
<br />
<p><%= @wiki.content %></p>
<br />
<%= render 'shared/comment_form' %>
<% if @wiki.comments.any? %>
  <table class="comments" summary="Wiki comments">
    <%= render @comments %>
  </table>
  <%= will_paginate @comments %>
<% end %>

